footer{
    margin: 0 auto;
    width: 892px;
    height: 50px;
    line-height: 15px;
    border-top:1px solid #938e8c;
}
footer a{
    float: right;
    text-align: right;
    font-family: "Simhei", "黑体";
    font-size: 12px;
    color:#d45d5c;
    text-decoration: none;
}
h3{
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 5px;
    font-family: "Microsoft YaHei UI","微软雅黑";
}
.container{
    margin:0 auto;
    width: 980px;
    height: 1386px;
    overflow: hidden;
}
.topBar{
    width: 892px;
    height: 61px;
    margin: 0 auto;
    border-bottom:2px solid #938e8c ;
}
.topBar_left{
    background-color: brown;
    float: left;
    width: 100px;
    height: 100%;
    text-align: left;
    line-height: 100px;
    padding-left: 5px;
}
.topBar_left a{
    color:#FFF;
    text-decoration: none;
    font-size: 12px;
    font-family: Simhei, "黑体";
}
.topBar_right{
    float:right;
    width: 100px;
    height: 100%;
    text-align: right;
    line-height:100px ;
}
.topBar_right span{
    font-size:12px;
    font-family:Simhei,"黑体";
    color:#d45d5c;
}
.main{
    width: 892px;
    margin:20px auto 20px auto;
    overflow: hidden;
}
.part1,.part2{
    width: 100%;
    float: left;
}
.part1{
    margin-bottom: 20px;
}
.part1_left{
    padding-right:20px ;
    width: 641px;
    float: left;
    height: auto;
}
.pic1{
    background-image: url("pic1.jpg");
    width: 100%;
    height: 301px;
}
.dec_left{
    width: 191px;
    height: 100%;
    background-color: aquamarine;
    filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5; ;
    float: left;
}
.dec_right{
    width: 191px;
    height: 100%;
    background-color: #d45d5c;
    filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5; ;
    float: right;
}

.part1_right{
    float: right;
    border-top:2px solid #cc8091;
    width: 203px;
    height: auto;
}
.part1_right h2{
    font-size: 24px;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    text-decoration: underline;
    line-height: 40px;
    font-weight: normal;
}
.part1_right p{
    font-size: 12px;
    font-family: "楷体";
    padding-bottom:10px ;
}
.passage{
    margin: 30px auto;
    overflow: hidden;
}
.passage article{
    float: left;
    width: 195px;
    height: auto;
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: 12px;
}
.What{
    color: #767777;
    font-family: "宋体";
    line-height: 16px;
}
.When{
    color: #231815;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    line-height: 16px;
    opacity: 0.7;
}
.How{
    color: #231815;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    line-height: 16px;
    opacity: 0.7;
}
.percent{
    font-family: "Microsoft YaHei UI", "微软雅黑";
    line-height: 18px;
    opacity: 0.7;
}
.percent span{
    color: #cd4a48;
    font-style: italic;
}
.part2_left{
    width: 415px;
    height: auto;
    float: left;
}
.part2_left header{
    font-family: "黑体";
    font-weight: bold;
    color: #11456b;
}
.title{
    font-size: 42px;
}
.subtitle{
    border-bottom:2px solid #11456b;
    font-size: 33px;
    margin-bottom: 20px;
}
.title span{
    font-size: 72px;
    font-style: italic;
    color: #f5e327;
}
.frontEnd p{
    font-size: 12px;
    font-family: "宋体";
    line-height: 16px;
    color:#767777;
}
.pic3{
    float: right;
    padding:15px 10px 15px 15px;
}
.first{
    font-size: 70px;
    color: #f5e327;
    padding-right:10px;
    float: left;
}
.part2_right{
    float: right;
    width:458px;
    height: auto;
}
.pic2{
    background-image: url("pic2.jpg");
    width: 100%;
    height:275px;
}
.dec_bottom{
    width: 100%;
    height: 61px;
    background-color: #333333;
    filter:alpha(opacity=40);-moz-opacity:0.4;opacity: 0.4 ;
    position: relative;
    top:78%;
}
.pic2_title{
    height: 44px;
    width: 400px;
    float: right;
    color:#FFF;
    line-height: 46px;
    font-size: 26px;
    border-left: 3px solid #72b16a;
    padding-left: 10px;
    position: relative;
    top:59%;
}
.pic2_title span{
    font-size:12px;
    font-style: italic;
    color:#72b16a;
}
.passage2{
    float: right;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #eeeed6;
    width:100%;
    height: auto;
}
.upper{
    float: right;
    padding-right: 25px;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    font-size: 16px;
    text-align: right;
    line-height: 30px;
    margin-bottom: 45px;
}
.upper span{
    font-family: "宋体";
    font-style: italic;
    font-size: 12px;
}
.lower{
    float: left;
    width: 100%;
    height: 160px;
    overflow: hidden;
}
.red{
    float: left;
    padding: 37px 0px 0px 15px;
    color: #FFF;
    width: 55%;
    background-color: #d55d5c;
    height: 135px;
}
.red_left{
    font-size: 110px;
    line-height: 110px;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    margin-top: -10px;
    float: left;
    height: 100%;
    width: 50px;
}
.red_right{
    border-left:2px solid #FFF;
    float: right;
    height: 86px;
    width: 175px;
    padding-left: 5px;
}
.red_right header{
    font-size: 21px;
    font-style: italic;
    font-family: "Simhei", "黑体";
}
.red_right p{
    font-size: 12px;
}
.next2red{
    float: right;
    width: 35%;
    padding:10px 10px;
    height: 140px;
    font-size: 14px;
    font-family: "Simhei", "黑体";
    font-style: italic;
    color: #5a5b5b;
    line-height: 16px;
}
.begin{
    font-style: normal;
    padding-top:20px;
    font-size: 72px;
    float: left;
    margin-left: -35px;
    margin-top: -5px;
    color: #d55d5c;
}
.end{
    font-size: 72px;
    float: right;
    font-style: normal;
    margin-right: -35px;
    margin-top: 10px;
    color: #d55d5c;
}
#what{
    color: #418c59;
}
#when{
    color: #d2994f;
}
#how{
    color: #cc7680;
}
#num1{
    font-size: 100px;
    color: #75b86b;
    font-style: italic;
    font-family:"微软雅黑";
    padding: 0;
}
#num2{
    font-size: 55px;
    color: #cc8091;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    padding: 0;
    float: left;
}
#css{
    font-size: 21px;
    color: #cc8091;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    float: left;
    padding-top: 16px;
    padding-left: 5px;
}
#css span{
    font-size: 12px;
    display:block;
    font-family: "Microsoft YaHei UI", "微软雅黑";
}
